@import'./base/_mixins';
@import'./Layouts/_header';
@import'./base/_varieables';
@import'./components/_button';
@import'./page/_home';



html, body{
background: var(--color-background);
scroll-snap-type: y mandatory scroll;
color: var(--white);
padding-bottom: 2% ;
}
.container{
max-width: 100%;
 padding: 0;
}

section{
scroll-snap-align: center;
padding: 1%;

}
.container_sec{
max-width: 80% !important;
margin: 0 auto;}
h1,
h2,
h3,
h4,
h5,
a,
span,
p{
font-size: var(--font-family-pri);
font-family: var(--font-family-pri);
}